*~
*.pyc
.ipynb_checkpoints/
__pycache__/
notfsw
logs
.coverage
.coveragerc

*.iml
.idea/
.vs
.vscode
.DS_Store

log/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
jacdata/
.installed.cfg
*.egg
*.json
